@model administracionScoutsCR.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}
<style>
    .card {
        border-radius: 20px;
    }

    .form-control {
        border-radius: 8px;
    }

    .accordion-button, .accordion-body {
        border-radius: 8px;
    }
</style>



<body>
        <div class="content">
                
          
            <form asp-action="Create" method="post">
                <div class="card">
                    <div class="card-body add-product pb-0">
                        <div class="accordion-card-one accordion" id="accordionExample">
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingOne">
                                    <div class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                                        <div class="addproduct-icon">
                                            <h5>
                                                <i data-feather="info" class="add-info"></i>
                                                <span>Creacion de nuevo Usuario</span>
                                            </h5>
                                            <a href="javascript:void(0);">
                                                <i data-feather="chevron-down" class="chevron-down-add"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="Nombre" class="form-label">Nombre</label>
                                                    <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del usuario" />
                                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="Apellido1" class="form-label">Primer Apellido</label>
                                                    <input asp-for="Apellido1" class="form-control" placeholder="Ingrese el primer apellido del usuario" />
                                                    <span asp-validation-for="Apellido1" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="Apellido2" class="form-label">Segundo Apellido</label>
                                                    <input asp-for="Apellido2" class="form-control" placeholder="Ingrese el segundo apellido del usuario" />
                                                    <span asp-validation-for="Apellido2" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                                    <input asp-for="FechaNacimiento" type="date" class="form-control" placeholder="Seleccione la fecha de nacimiento del usuario" />
                                                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="TipoUsuario" class="form-label">Tipo de Usuario</label>
                                                    <input asp-for="TipoUsuario" class="form-control" placeholder="Ingrese el tipo de usuario" />
                                                    <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="IdSeccion" class="form-label">Sección</label>
                                                    <select asp-for="IdSeccion" class="form-control" asp-items="ViewBag.SeccionesDisponibles">
                                                        <option value="">Seleccione una sección</option>
                                                    </select>
                                                    <span asp-validation-for="IdSeccion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="IdRole" class="form-label">Rol</label>
                                                    <select asp-for="IdRole" class="form-control" asp-items="ViewBag.Role">
                                                        <option value="">Seleccione un rol</option>
                                                    </select>
                                                    <span asp-validation-for="IdRole" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="Direccion" class="form-label">Dirección</label>
                                                    <input asp-for="Direccion" class="form-control" placeholder="Ingrese la dirección del usuario" />
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="Correo" class="form-label">Correo Electrónico</label>
                                                    <input asp-for="Correo" class="form-control" placeholder="Ingrese el correo electrónico del usuario" />
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="mb-3">
                                                    <label asp-for="NumeroTelefono" class="form-label">Número de Teléfono</label>
                                                    <input asp-for="NumeroTelefono" class="form-control" placeholder="Ingrese el número de teléfono del usuario" />
                                                    <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="mb-3">
                                            <label asp-for="Contrasena" class="form-label">ingrese Contraseña</label>
                                            <input asp-for="Contrasena" type="password" class="form-control" placeholder="Contraseña " />
                                            <span asp-validation-for="Contrasena" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-primary me-2">
                                                    <i data-feather="save" class="me-2"></i>Guardar
                                                </button>
                                                <a asp-action="Index" class="btn btn-secondary">
                                                    <i data-feather="x" class="me-2"></i>Cancelar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                        <ul class="table-top-head">
                            <li>
                                <div class="page-btn">
                                    <a asp-action="Index" class="btn btn-secondary">
                                        <i data-feather="arrow-left" class="me-2"></i>Volver a la lista
                                    </a>
                                </div>
                            </li>
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
                </div>
    </div>
            <!-- Fin del formulario de creación de usuario -->
        </div>
        </body>
    
