@model administracionScoutsCR.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
    Layout = null; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Crear Usuario - Polo</title>
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="body-inner">
        <section class="fullscreen" data-bg-parallax="/images/fondo.png">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="row">
                        <div class="col-lg-10 center p-40 background-white b-r-6">
                            <h3>Crear Nuevo Usuario</h3>
                            <p>Ingrese la información del usuario a continuación.</p>
                            <form asp-action="Create" method="post" class="form-transparent-grey">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="Apellido1">Primer Apellido</label>
                                    <input asp-for="Apellido1" class="form-control" placeholder="Primer Apellido" />
                                    <span asp-validation-for="Apellido1" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Apellido2" class="control-label">Segundo Apellido</label>
                                    <input asp-for="Apellido2" class="form-control" placeholder="Segundo Apellido" />
                                    <span asp-validation-for="Apellido2" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="FechaNacimiento" class="control-label">Fecha de nacimiento</label>
                                    <input asp-for="FechaNacimiento" class="form-control" type="date" />
                                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="TipoUsuario" class="control-label">Tipo usuario</label>
                                    <input asp-for="TipoUsuario" class="form-control" placeholder="Tipo de Usuario" />
                                    <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="IdSeccion" class="control-label">Seccion</label>
                                    <select asp-for="IdSeccion" class="form-control" asp-items="ViewBag.IdSeccion">
                                        <option value="">Seleccione una sección</option>
                                    </select>
                                    <span asp-validation-for="IdSeccion" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Direccion" class="control-label">Dirrecion</label>
                                    <input asp-for="Direccion" class="form-control" placeholder="Dirección" />
                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Correo" class="control-label">Correro</label>
                                    <input asp-for="Correo" class="form-control" placeholder="Correo Electrónico" />
                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="NumeroTelefono" class="control-label">Telefono</label>
                                    <input asp-for="NumeroTelefono" class="form-control" placeholder="Número de Teléfono" />
                                    <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Contrasena" class="control-label">Contraseña</label>
                                    <input asp-for="Contrasena" class="form-control" type="password" placeholder="Contraseña" />
                                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                                </div>

                                <!-- Botones -->
                                <div class="form-group">
                                    <button type="submit" class="btn">Crear Usuario</button>
                                    <a class="btn btn-danger m-l-10" href="@Url.Action("index", "Home")">Cancelar</a>
                                </div>
                            </form>
                            <!-- End: Form -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/plugins/validate/validate.min.js"></script>
    <script src="~/plugins/validate/valildate-rules.js"></script>

    <!-- Scripts de validación de ASP.NET Core -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>